<div class="p-5 mb-4 bg-light rounded-3 container jumbotron" id="home-container">
      <div class="container-fluid py-5 text-center text-white">
        <h1 class="display-5 fw-bold text-white">Alpha Blog</h1>
        <p class="fs-5">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap.</p>
        <p class="fs-5">Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-success btn-lg" type="button">Sign up!</button>
      </div>
</div>
